body {
}

header {

    width: 100%;
    height: 70px;
    background-color: #1e1e47;

}

.margen {

    margin-top: 20%;

}

.Contenedor-titulo {

    margin-top: 30%;
    padding: 0;
    width: 100%;
    height: 100px;
    text-align: center;

}

.titulo {


}

.btn-registrate {

    width: 80%;
    height: 40px;
    margin: 5% 10% 0%;

}

.btn-entra {

    width: 80%;
    height: 40px;
    margin: 0% 10% 0%;

}