@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{

    background-image: url(guardllet/Multimedia/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

main{

    position: absolute;
    background-color: #1b193d80;
    width: 90%;
    height: 800px;
    margin: 5% 5% 5% 5%;
    -webkit-box-shadow: 0px 36px 86px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 36px 86px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 36px 86px -17px rgba(0,0,0,0.75);

}

header {
    
}

.nav-prs {
    background-color: #1e1e474d;
    border: #1d1d42;
    width: 100%;
    height: 100%;
    position: relative;
}

.color{

    color: white;
}

.efecto{

    overflow:hidden;
    position:relative;
    font-size:3em;
    width:100%;
    height:0;
 
}

#inicio{

    position: absolute;
    width: 100%;
    height: 95%;
    overflow: hidden;
}

#quienes{

    background-color: #3c3c61; 
     
}
#contacto{

    background-color: #3c3c61;
     
}

.efecto:target{

    height:95%;
}

.btn-Ingresar{

    width: 90%;
    height: 70px;
    border-radius: 15px;
    border: solid 2px white;
    background-color: #5350846e;
    color: white;

}

.btn-Registro{

    width: 90%;
    height: 70px;
    border-radius: 15px;
    border: solid 2px white;
    background-color: #5350846e;
    color: white;

}